<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AQICN_TOKEN</key>
	<string>4e557d0cca0cd636ea3d2ac91be2a2c60055a03d</string>
	<key>BIGDATACLOUD_KEY</key>
	<string>bdc_ec86d7e08b0f4739a46822d5cfbe00cb</string>
</dict>
</plist>
